.login {
    width: 60vw;
    margin: 7rem auto;
    padding: 2rem;
    color: grey;
  }
  .box{
    display: flex;
  }
.container {
    width: 60vw;
    margin: 3rem auto;
    padding: 1rem;
    color: grey;
    min-height: 20rem;
  }
  .container textarea{
    width: 95%;
    min-height: 20vh;
    font-size: medium;
    border: 1px solid black;
    border-radius: .6rem;
    padding: .6rem;
  }
  .navigationbutton{
    width: 10vw;
    padding: 2rem;
  }
  .navigationbutton button{
    margin: .7rem;
    justify-content: space-around;
    width: 11rem;
  }
  
  .button{
    text-align: center;
    width: 100%;
    border: 1px solid black;
     height: 2rem;
     color: beige;
     background-color: #3a0544;
     margin-top: 3px;
  }
  .actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .actions div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .actions div button{
    border: none;
  }
  @media (max-width: 768px) {
    .login{
      width: 95vw;
      box-sizing: border-box;
      margin:7rem auto;
    }
    .container{
      width: 95vw;
      box-sizing: border-box;
      margin: auto;
    }
    .control {
      align-items: center;
      flex-direction: row;
    }
  .box{
    flex-direction: column;
  }
 .navigationbutton{
  display: flex;
  justify-content: space-between;
  width: 95vw;
  padding: .5rem;
 }
 .navigationbutton button{
  width: 6rem;
}
  }